body {margin: 0px;scroll-behavior: smooth;}

:root {
     --serif: 'Spectral', serif;
     --sans: 'IBM Plex Sans', sans-serif;
    }

div > div > div > .srw {
        color: #1e1e1e;border: 1px solid #1e1e1e;background-color: #ffffff00;transition: 0.4s ease;
    }

div:hover > div > div > .srw {
        color: #ffffff;border: 1px solid #1e1e1e;background-color: #1e1e1e;transition: 0.4s ease;
    }

.bd6 {
font-weight: 600;
}

.bd7 {
font-weight: 700;
}

.mt-0 {
margin-top: 0px;
}

.k3 {
color: #8996a0 !important;font-size: 15px;}

.k4 {
color: #5e5e5e !important;font-size: 16px;
}

.s8 {
text-decoration: none;
}
    
    .u4 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: inherit;cursor: pointer;
}

.u4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease;
}

.u4:hover::after {
  transform: scaleX(1);
} 

    .crd:hover > .u4::after {
  transform: scaleX(1);
} 

    .u5 {
  color: inherit;
  cursor: pointer;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%; /* bottom of the element */
  background-repeat: no-repeat;
  background-size: 0% 2px; /* initial underline hidden */
  transition: background-size 0.3s ease;
}

.u5:hover {
  background-size: 100% 2px; /* animate underline to full width */
}

    .u6 {
        text-decoration: underline; text-decoration-thickness: 0.999px;transition: 0.2s;text-underline-offset: 4.5px;cursor: pointer;
    }

     .u6:hover {
       text-decoration-color: #003882; transition: 0.2s;color: #003882;
    }
   

     h1,h2,h3,h4,h5,h6,p,span,button,div,label,select, ul,li,summary, i, b {
        font-family: 'IBM Plex Sans', sans-serif;color: #1e1e1e
    }

    .serif {
        font-family: 'Spectral', serif;
    }

    details.nrw summary::-webkit-details-marker {
  display: none;
}

details.nrw summary {
  list-style: none;
  cursor: pointer;
}

::selection {
  color: #ffffff;
  background: #1c1c1c;
}

    .wh::selection {
  color: #0e0e0e;
  background: #F3F4F4;
}

    span, p, li {
        font-size: 18px;color: #1e1e1e;
    }

    .mar {
        margin: 24px;
    }

.marl {
        margin-left: 25px;margin-right: 25px;
    }
    
     .marlb {
        margin-left: 25px;margin-right: 25px;
    }

    .marlm {
        margin-left: 15px;margin-right: 15px;
    }

    .marlgrid {
        margin-left: 25px;margin-right: 25px;
    }

    .marl2 {
        margin-left: 28px;margin-right: 28px;
    }

    .marl3 {
        margin-left: 25px;margin-right: 25px;
    }

    .marl4 {
        margin-left: 25px;margin-right: 25px;
    }

    .pad4 {
        padding-left: 15px;padding-right: 15px;
    }

    .padng {
        padding: 15px;
    }

    .navibuttons {
        color: #ffffff; transition: 0.2s;
    }    

    .nx6 {
        color: #1e1e1e !important; transition: 0.2s;
    }

    .wh {
        color: white
    }

    .hidden {
        display: none;
    }

    .close {
        left: -500px;pointer-events: none;transition: 0.7s;opacity: 0
    }

    .open {
        left: 0px;pointer-events: auto;transition: 0.7s;opacity: 1
    }

    .darknav {
        background-color: #151515;transition: 0.7s;
    }

    .whitenav {
        background-color: #fff;transition: 0.2s;
    }

    .jon3:hover {
        transform: scale(102%); transition: 0.2s;user-select: none;
    }

    @keyframes jonny {
        0% {transform: scale(90%);transition: 0.2s;opacity: 0}
        50% {transform: scale(95%);transition: 0.2s;opacity: 0}
        100% {transform: scale(100%);transition: 0.2s;opacity: 1}
    }

    @keyframes gallery {
        0% {opacity: 0;transition: ease}
        100% {opacity: 1;transition: ease}
    }

    @keyframes winston {
        0% {transform: translateY(-40px);opacity: 0;} 50% {transform: translateY(-30px);opacity: 0; }
        100% {transform: translateY(0px);opacity: 1;}
    }

    @keyframes line1 {
        0% {height: 0px;transition: 0.2s;}
        100% {height: 750px;transition: 0.2s;}
    }

    @keyframes line2 {
        0% {height: 0px;transition: 0.2s;}
        100% {height: 170px;transition: 0.2s;}
    }

    @keyframes line3 {
        0% {height: 0px;transition: 0.2s;opacity: 0;}
        50% {height: 0px;transition: 0.2s;}
        100% {height: 280px;transition: 0.2s;}
    }

.antonarrow {
background-color: #484E53;color: #ffffff;transition: 0.2s;
}

.antontext {
color: #484E53;transition: 0.2s;
}

.anton:hover > .antonarrow {
background-color: #0e0e0e;transition: 0.2s;
}

.anton:hover > .antontext {
color: #0e0e0e;transition: 0.2s;
}

.darkantonarrow {
background-color: #003882;color: #ffffff;transition: 0.2s;
}

    .darkantonarrow2 {
background-color: #1e1e1e;color: #ffffff;transition: 0.2s;border: 1px solid #ffffff
}

.darkantontext {
color: #9e9e9e;transition: 0.2s;
}

    .darkantontext2 {
color: #ffffff;transition: 0.2s;
}

.darkanton:hover > .darkantonarrow {
background-color: #fff;color: #0e0e0e;transition: 0.2s;
}

    .darkanton:hover > .darkantonarrow2 {
background-color: #fff;color: #0e0e0e;transition: 0.2s;
}

.darkanton:hover > .darkantontext, .darkantontext2 {
color: #fff;transition: 0.2s;
}

    .crd:hover > .anton > .antonarrow {
background-color: #0e0e0e;transition: 0.2s;
}

.crd:hover > .anton > .antontext {
color: #0e0e0e;transition: 0.2s;
}

.crd:hover > .darkanton > .darkantonarrow {
background-color: #fff;color: #0e0e0e;transition: 0.2s;
}

.crd:hover > .darkanton > .darkantonarrow2 {
background-color: #fff;color: #0e0e0e;transition: 0.2s;
}

.crd:hover > .darkanton > .darkantontext, .darkantontext2 {
color: #fff;transition: 0.2s;
}

    .srw {
        color: #1e1e1e;border: 1px solid #1e1e1e;background-color: #ffffff00;transition: 0.2s;
    }

    .srw:hover {
        color: #ffffff;border: 1px solid #1e1e1e;background-color: #1e1e1e;transition: 0.2s;
    }


.jcard {
    background-color: #E3E5E5;transition: 0.2s;
}

.g4 {
    background-color: #0e0e0e; transition: 0.2s;cursor: pointer;
}

.g4:hover {
        background-color: #292C2F; transition: 0.2s;
    }

.w7 {
        background-color: #1e1e1e; transition: 0.2s;
    }

.w7:hover {
        background-color: #484E54; transition: 0.2s;
    }

.nvtd { cursor: pointer; user-select: none;}

.nvtd-line {
        width: 0%;transition: 0.2s ease;
    }

.nvtd:hover > .nvtd-line {
        width: 100%;transition: 0.2s ease;
    }

.f6 {
        opacity: 0.9;
    }

.q8 {
  display: block;
}

.l5 {
        opacity: 0.2;
    }

 .q6 {
  width: 100%;
}

.f35 {
font-size: 24px;
}

    .f50, .f60 {
        font-size: 36px;
    }

    .f40 {
        font-size: 30px;
    }

    .hf2 {
        height: 250px;
    }

    .quoteimage {
        height: 270px;width: 270px;margin-left: 15px;margin-right: 15px;
    }

    .glrimg {
        height: 200px;width: 100%;
    }

.marco {
 overflow: hidden;
  max-height: 200px;
  transition: max-height 0.3s ease;
}

    

.marc > a {
    background: linear-gradient(0deg,rgba(14, 14, 14, 1) 11%, rgba(14, 14, 14, 0.65) 59%, rgba(14, 14, 14, 0) 100%); transition: 0.5s ease;
}


.trp1 {
width: 62%;overflow: hidden;
}

.trp2 {
width: 0%;overflow: hidden;
}

.trp3 {
width: 38%;overflow: hidden;
}

    .trp3 > h6 {
        text-align:center;
    }

    .adnl {
        height: 450px;
    }

     .sdimglf {
   width: 100%
}

    .sdimgrg {
    width: 100%
}

    .crddark {
        background-color: #1e1e1e;transition: 0.3s
    }

    .crddark:hover {
        background-color: #484E54;transition: 0.3s
    }

.xj5 {
padding-top: 0px;
}
    
@media (min-width: 768px) {

.xj5 {
padding-top: 23px;
}

    .sdimglf {
    margin-left: 60px;width: calc(100% - 75px)
}

    .sdimgrg {
    margin-right: 60px;width: calc(100% - 75px)
}

 .f35 {
        font-size: 35px;
    }
    
.adnl {
    height: 400px;
}
    
.trp1 {
width: 40%;
}

.trp2 {
width: 40%;
}

.trp3 {
width: 20%;
}

    .trp3 > h6 {
        text-align:right;
    }
    
    .glrimg {
        height: 385px;width: 82%;
    }
    
    .marlgrid {
        margin-left: 65px;margin-right: 65px;
    }
    
    .quoteimage {
        height: 470px;width: 470px;
    }
    .marlm {
        margin-left: 45px;margin-right: 45px;
    }
.marl {
        margin-left: 75px;margin-right: 75px;
    }
    .marlb {
        margin-left: 15px;margin-right: 75px;
    }
        .marl2 {
        margin-left: 250px;margin-right: 250px;
    }
        .marl3 {
        margin-left: 300px;margin-right: 300px;
    }
    .marl4 {
        margin-left: 160px;margin-right: 160px;
    }

.pad4 {
        padding-left: 150px;padding-right: 150px;
    }
    
        .padng {
        padding: 30px;
    }

.q8 {
    display: flex;
  }
    .l5 {
        opacity: 1;
    }


.q6 {
    width: 150px;
  }
    .f50 {
        font-size: 50px;
    }

    .f60 {
        font-size: 60px;
    }

    .f40 {
        font-size: 40px;
    }
    .hf2 {
        height: 350px;
    }

  
.marco {
 overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

    .marc:hover > a {
    background: linear-gradient(0deg,rgba(13, 11, 11, 1) 39%, rgba(38, 37, 37, 0.65) 87%, rgba(38, 37, 37, 0) 100%);transition: 0.5s ease;
}

.marc:hover > a .marco {
max-height: 200px;
transition: 0.3s ease;
}

}

/* continuation */

    .crdimg {
        transition: 0.2s ease;
    }
    .crd:hover .crdcnt .crdimg {
        transform: scale(110%); transition: 0.2s ease;
    }

    .nvtng::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.nvtng {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

  .animate-on-scroll {
  opacity: 0;
  transform: translateY(90px);
}

    .arb + svg {
  fill: #8996A0;transition: 0.2s;
}
    .arb:hover + svg {
  fill: white;transition: 0.2s;
}

    .accordion-header {
  cursor: pointer;
  padding: 8px;
}

.accordion-content {
  overflow: hidden;padding-left: 8px;
  height: 0;
  transition: height 0.3s ease;
}

.home-hdr {
text-align: center;font-size: 50px;margin-top: 175px;font-weight: 600;animation: 1s infocus
}

.home-sbhdr {
text-align: center;font-weight: 500;animation: 1s infocus
}

@media (min-width: 768px) {

.home-hdr {
text-align: center;font-size: 120px;margin-top: 145px;font-weight: 600;animation: 0.9s infocus
}

.home-sbhdr {
text-align: center;margin-left: 250px;margin-right: 250px;font-weight: 500;animation: 0.9s infocus
}

}

.m17 {
height: 92px;display: flex;color: white;padding-left:30px;padding-right: 40px;border: none;outline: none;padding-top: 6px;
}

.m19 {
height: 92px;display: flex;color: white;padding-left: 30px;padding-right: 40px;border: none;border-left: 1px solid #333;outline: none;padding-top: 6px;
}

.m18 {
margin-left: 15px;margin-top: 27px;font-size: 17.5px;font-weight: 500;color: #ffffff
}

.n5 {
height: 92px;display: flex;padding-left:30px;padding-right: 30px;border: none;outline: none;padding-top: 6px;background-color: #ffffff00 !important;
}

.n6 {
height: 92px;display: flex;padding-left: 0px;padding-right: 30px;border: none;outline: none;padding-top: 6px;background-color: #ffffff00 !important;
}


.x5 {
color: white;font-size: 42px;font-weight: 500;cursor: pointer;text-decoration: none;margin-left: 30px;margin-right: 28px;
}

.msc-hdr {
font-size: 55px;font-weight: 600;animation: 0.9s infocus;font-family: var(--serif);
}

.msc-sbhdr {
font-size: 16px;font-weight: 600;animation: 0.9s infocus;text-align: left;font-family: var(--sans);
}

@media (min-width: 768px) {
.msc-hdr {
font-size: 80px;font-weight: 600;animation: 0.9s infocus;margin-left: 45px;margin-right: 45px;font-family: var(--serif);
}

.msc-sbhdr {
font-size: 35px;font-weight: 600;animation: 0.9s infocus;text-align: left;margin-top: 190px;margin-left: 30px;margin-right: 100px;font-family: var(--serif);
}

.x5 {
color: white;font-size: 56px;font-weight: 500;cursor: pointer;text-decoration: none;margin-left: 45px;margin-right: 28px;
}

}

.j9 {
background: #E3E5E5;padding-top: 100px;
}

.j10 {
font-weight: 600;margin-bottom: 0px;text-align: center;margin: 0px;
}

.crlbtn {
color: white;border: 1px solid #333;padding: 10px;padding-top: 10px;margin-top: 14px;margin-bottom: 12px;border-radius: 100%;
}

.xb3 {
margin-left: 25px;margin-right: 10px;color: #888;font-weight: 700;font-size: 17px;
}

.xz4 {
font-size: 17px;margin-left: 15px;color: #292C2F
}

.nzl {
height: 1px;background-color: #1e1e1e;margin-top: -3px;
}

.xpl {
background-color: #ffffff;padding: 20px;
}

.xpl > summary { font-weight: 500;letter-spacing: 0.5px; }

.xpl > div {
margin-top: 22px;padding-left: 22px;border-left: 1px solid #ddd;font-size: 16px; }

.lq1 {
font-weight: 600;text-align: center;margin-top: 50px;margin-bottom: 25px;
}

.t8 {
font-size: 20px;font-weight: 800;margin-right: 40px;text-decoration: none;
}

.ac3 {
padding: 10px;padding-top: 10px;margin-top: 0px;margin-bottom: 12px;border-radius: 100%;
}

.r4 {
font-weight: 600;margin-bottom: 10px;font-size: 26px;
}

.r3 {
font-weight: 600;margin-bottom: 0px;
}

.r5 {
font-weight: 500;margin-top: 20px;
}

.aa {
padding: 10px;border-radius: 100%;
}

.at {
margin-left: 10px;margin-top: 5px;font-weight: 500;
}

.anc {
display: flex;margin-top: 10px;margin-bottom: 20px;cursor: pointer;user-select: none;text-decoration: none;
}

.anc2 { display: flex;margin-top: 20px;margin-bottom: 20px;cursor: pointer;user-select: none;text-decoration: none; }

.y11 {
font-weight: 500;letter-spacing: 0.5px;
}

.y12 {
font-weight: 500;margin-top: 20px;font-weight: 600;
}

.rtc {
text-decoration: none;padding-bottom: 10px;margin-top: 20px;margin-left: 24px;margin-right: 24px;
}

.rtco {
font-weight: 500;margin-top: 20px;font-weight: 700;color: #292C2F;margin-bottom: 0px;font-size: 20px;
}

.qt1 {
font-weight: 600;margin-top: -50px;padding-left: 30px;padding-top: 10px;line-height: 1.3;
}

.rgl {
font-weight: 400 !important;
}

.g8 {
height: 60px;position: absolute;top: 20px;left: 20px;
}

@media (min-width: 768px) {
.g8 {
height: 75px;position: absolute;top: 30px;left: 40px;
}
}

.v4 {
        padding-left: 10px;padding-bottom: 8px;
    }

    .achdr {
        font-size: 26px;
    }

    @media (min-width: 768px) {
        .achdr {
            font-size: 35px;
        }
    }