h1,h2,h3,h4,h5,h6,p,span,button,div,label,select, ul,li,summary, i, b, address,th,td,tr {
        font-family: 'Lato', sans-serif; color: #393939;
    }

    :root {
     --accentcolor: #204c7f;
    }

body {margin: 0px} hr {border-color: #c0bebe;}

    .card {box-shadow: 0 1px 5px 0 rgba(0,0,0,0.16),0 1px 3px 0 rgba(0,0,0,0.12);}

    .hover:hover {
        background-color: #f0f8fd;
    }

    .mlgin {
        margin-left:20px; margin-right: 20px;
    }

.hover-smooth {
    transition: 0.2s;
}
    
    .hover-smooth:hover {
        transition: 0.2s;
    }

    .navbtn {
vertical-align:middle;
overflow: hidden;
text-decoration: none;
color: inherit;
background-color: inherit;
        cursor: pointer;padding: 8px 16px;white-space: no-wrap;
}

    .navbtn:hover {
        background-color: #ddd;
    }

    .nbxz {
        background-color: #ffffff00;
    }

    .nbxz:hover {
        background-color: #0f1724;
    }

    .nbselected {
vertical-align:middle;
overflow: hidden;
text-decoration: none;
color: var(--accentcolor);
background-color: #ffffff;
} .nbselected:hover { background-color: #ffffff; }

    .mdlnk {
       font-size: 13px;color: #444444;text-decoration:none;
    }

    .mdlnk:hover {
        text-decoration: underline;
    }

    .courseheader {
        background-color: #f3f3f3;border: 1px solid #bbbbbb;margin-left: 16px;margin-right: 16px;color: #333333;padding: 20px;border-bottom: none;
    }
    .coursemedia {
        border: 1px solid #bbbbbb;margin-left: 16px;margin-right: 16px;padding: 16px;padding-left: 16px;
    }

    .coursemedia:hover {
        background-color: #eaf5fe;
    }

    @media only screen and (max-width: 600px) {
        .tertiarysidebar {
            background-color: #f6f6f6;margin-top: 20px;
        }
        .ternarysidebar {
            background-color: #f6f6f6;margin-bottom: 20px;width: 100% !important;margin-bottom: 8px;
        }
        .ternary {
            margin-top: 8px; width: 100% !important;
        }
    }

    .dts {
        height: 119.4px;text-align:right !important;padding-left: 10px !important;padding-right: 10px !important;
    }

    .dhr {
        width: 14%;padding: 15px !important;font-size: 15px;padding-bottom: 20px !important;
    }

    .date-0 {
        color: #777777;
    }

    .dt-slct {
        background-color: #f2f2f2;
    }

    .cldred {
padding: 5px;border: 1px solid #e5326f;border-radius: 5px;color: #e5326f;margin-left:2px;margin-right: 2px;margin-top: 5px;margin-bottom: 5px;text-align: left;
}

.cldgreen {
padding: 5px;border: 1px solid #339d33;border-radius: 5px;color: #339d33;margin-left:2px;margin-right: 2px;margin-top: 5px;margin-bottom: 5px;text-align: left;
}

.cldblue {
padding: 5px;border: 1px solid #0a7bbb;border-radius: 5px;color: #0a7bbb;margin-left:2px;margin-right: 2px;margin-top: 5px;margin-bottom: 5px;text-align: left;
}

.cldpurple {
padding: 5px;border: 1px solid #923b9b;border-radius: 5px;color: #923b9b;margin-left:2px;margin-right: 2px;margin-top: 5px;margin-bottom: 5px;text-align: left;
}

@keyframes load {
    0% {opacity: 0%}
    50% {opacity: 100%;}
}

    @keyframes flipA {
        0% {transform: rotateY(180deg);}
        100% {transform: rotateY(0deg);}
    }

    @keyframes flipB {
        0% {transform: rotateY(-180deg);}
        100% {transform: rotateY(0deg);}
    }

    .load-anim {
        animation: load 0.15s;
    }

    .border-focus:focus {
        border: 1.5px solid var(--accentcolor) !important;
    } .coursecard-cntr {
border-radius: 5px;cursor: pointer;
}

.coursecard-img {
height: 130px;background-size:cover;border-radius: 5px 5px 0px 0px
}

.coursecard-cnt {
padding-top: 10px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;
}.line-marker {
 width: 2px; background: rgb(57, 57, 57); margin-top: 8px; color: var(--accentcolor);
}

.line-option {
cursor: pointer; margin-left: 10px;
}